# Ignore environment files
.env
*.env

# Ignore private key files
*.pem


# Virtual environment folders
venv/
env/
.venv/

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/


